footer.footer
	.conteiner.cf
		- var src = 'img/logo_footer.png'
		- var style = 'footer';
		.logo-box
			include ../include/logo
		.text-box
			include ../include/socials
			-var className = 'footer-menu'
			ul(class=''+ className).unstyled-list
				-var list = nav
				include ../include/nav

	.copyright
		| All rights reserved. 2015. no copy allowed
