header.header
	.contact-box
		ul.socials.unstyled-list
			- var style = header;
			include ../include/socials
		ul.contact-info.unstyled-list
			li.contact-info__list
				address.contact-info__address
					| ул. Маяковская 6, офис 17
			li.contact-info__list
				a(href='tel:+79211231213').contact-info__phone
					| +7 (921) 123-12-13

	.header-box
		- var src = 'img/logo_header.png'
		include ../include/logo
		.search-box
			form.search
				input.search__input-search(type='search' placeholder='Что будем искать')
				input.search__input-submit(type='submit' value='Найти')

		-var className = 'shop-menu'
		ul(class=''+ className).unstyled-list
			- var list = shopMenu
			include ../include/nav
	.nav
		-var className = 'nav-menu'
		ul(class=''+ className).unstyled-list
			-var list = nav
			include ../include/nav