.sort
	p.sort__label
		| Сортировать по
	ul.sort__list.unstyled-list
		li.sort__choice
			| по цене
		li.sort__choice
			| по популярности
	p.sort__label
		| Вид каталога
	ul.sort__show.unstyled-list
		li.sort__type.sort__type_list-block
			| list block
		li.sort__type.sort__type_block
			| block
		li.sort__type.sort__type_list
			| list